.env
__pycache__/
*.pyc
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/final/*
!data/final/.gitkeep
.ipynb_checkpoints/
venv/
.venv/
*.duckdb
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
agents
AGENTS.md
obsidian_context

